/*
AVACloud API 2.0.0

AVACloud API specification

API version: 2.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package avaclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)

// AvaConversionApiService AvaConversionApi service
type AvaConversionApiService service

type ApiAvaConversionConvertToAvaRequest struct {
	ctx                                 context.Context
	ApiService                          *AvaConversionApiService
	avaProject                          *ProjectDto
	tryAutoGenerateItemNumbersAndSchema *bool
	removePlainTextLongTexts            *bool
	removeHtmlLongTexts                 *bool
}

// The Dangl.AVA project
func (r ApiAvaConversionConvertToAvaRequest) AvaProject(avaProject ProjectDto) ApiAvaConversionConvertToAvaRequest {
	r.avaProject = &avaProject
	return r
}

// If this is set to true, AVACloud will try to generate item numbers and an item number schema automatically for the input project. The operation will not have any effect if either an item number schema is already present, or if any of the elements already has an item number.
func (r ApiAvaConversionConvertToAvaRequest) TryAutoGenerateItemNumbersAndSchema(tryAutoGenerateItemNumbersAndSchema bool) ApiAvaConversionConvertToAvaRequest {
	r.tryAutoGenerateItemNumbersAndSchema = &tryAutoGenerateItemNumbersAndSchema
	return r
}

// If set to true, plain text long texts will be removed from the output to reduce response sizes
func (r ApiAvaConversionConvertToAvaRequest) RemovePlainTextLongTexts(removePlainTextLongTexts bool) ApiAvaConversionConvertToAvaRequest {
	r.removePlainTextLongTexts = &removePlainTextLongTexts
	return r
}

// If set to true, html long texts will be removed from the output to reduce response sizes
func (r ApiAvaConversionConvertToAvaRequest) RemoveHtmlLongTexts(removeHtmlLongTexts bool) ApiAvaConversionConvertToAvaRequest {
	r.removeHtmlLongTexts = &removeHtmlLongTexts
	return r
}

func (r ApiAvaConversionConvertToAvaRequest) Execute() (*ProjectDto, *http.Response, error) {
	return r.ApiService.AvaConversionConvertToAvaExecute(r)
}

/*
AvaConversionConvertToAva Converts Dangl.AVA projects to Dangl.AVA. This is useful when you want to generate the calculated properties.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAvaConversionConvertToAvaRequest
*/
func (a *AvaConversionApiService) AvaConversionConvertToAva(ctx context.Context) ApiAvaConversionConvertToAvaRequest {
	return ApiAvaConversionConvertToAvaRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ProjectDto
func (a *AvaConversionApiService) AvaConversionConvertToAvaExecute(r ApiAvaConversionConvertToAvaRequest) (*ProjectDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProjectDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AvaConversionApiService.AvaConversionConvertToAva")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/conversion/ava/ava"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.avaProject == nil {
		return localVarReturnValue, nil, reportError("avaProject is required and must be specified")
	}

	if r.tryAutoGenerateItemNumbersAndSchema != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "TryAutoGenerateItemNumbersAndSchema", r.tryAutoGenerateItemNumbersAndSchema, "")
	}
	if r.removePlainTextLongTexts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "RemovePlainTextLongTexts", r.removePlainTextLongTexts, "")
	}
	if r.removeHtmlLongTexts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "RemoveHtmlLongTexts", r.removeHtmlLongTexts, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.com.dangl-it.ProjectDto.v1+json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.avaProject
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAvaConversionConvertToDatanormRequest struct {
	ctx                                 context.Context
	ApiService                          *AvaConversionApiService
	avaProject                          *ProjectDto
	tryAutoGenerateItemNumbersAndSchema *bool
	datanormDestinationVersion          *string
}

// The Dangl.AVA project
func (r ApiAvaConversionConvertToDatanormRequest) AvaProject(avaProject ProjectDto) ApiAvaConversionConvertToDatanormRequest {
	r.avaProject = &avaProject
	return r
}

// If this is set to true, AVACloud will try to generate item numbers and an item number schema automatically for the input project. The operation will not have any effect if either an item number schema is already present, or if any of the elements already has an item number.
func (r ApiAvaConversionConvertToDatanormRequest) TryAutoGenerateItemNumbersAndSchema(tryAutoGenerateItemNumbersAndSchema bool) ApiAvaConversionConvertToDatanormRequest {
	r.tryAutoGenerateItemNumbersAndSchema = &tryAutoGenerateItemNumbersAndSchema
	return r
}

// The Datanorm version to convert to. Defaults to V4.
func (r ApiAvaConversionConvertToDatanormRequest) DatanormDestinationVersion(datanormDestinationVersion string) ApiAvaConversionConvertToDatanormRequest {
	r.datanormDestinationVersion = &datanormDestinationVersion
	return r
}

func (r ApiAvaConversionConvertToDatanormRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.AvaConversionConvertToDatanormExecute(r)
}

/*
AvaConversionConvertToDatanorm Converts Dangl.AVA projects to Datanorm

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAvaConversionConvertToDatanormRequest
*/
func (a *AvaConversionApiService) AvaConversionConvertToDatanorm(ctx context.Context) ApiAvaConversionConvertToDatanormRequest {
	return ApiAvaConversionConvertToDatanormRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return *os.File
func (a *AvaConversionApiService) AvaConversionConvertToDatanormExecute(r ApiAvaConversionConvertToDatanormRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AvaConversionApiService.AvaConversionConvertToDatanorm")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/conversion/ava/datanorm"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.avaProject == nil {
		return localVarReturnValue, nil, reportError("avaProject is required and must be specified")
	}

	if r.tryAutoGenerateItemNumbersAndSchema != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "TryAutoGenerateItemNumbersAndSchema", r.tryAutoGenerateItemNumbersAndSchema, "")
	}
	if r.datanormDestinationVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "DatanormDestinationVersion", r.datanormDestinationVersion, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.avaProject
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAvaConversionConvertToExcelRequest struct {
	ctx                                 context.Context
	ApiService                          *AvaConversionApiService
	avaProject                          *ProjectDto
	tryAutoGenerateItemNumbersAndSchema *bool
	writePrices                         *bool
	writeLongTexts                      *bool
	conversionCulture                   *string
	includeArticleNumbers               *bool
}

// The Dangl.AVA project
func (r ApiAvaConversionConvertToExcelRequest) AvaProject(avaProject ProjectDto) ApiAvaConversionConvertToExcelRequest {
	r.avaProject = &avaProject
	return r
}

// If this is set to true, AVACloud will try to generate item numbers and an item number schema automatically for the input project. The operation will not have any effect if either an item number schema is already present, or if any of the elements already has an item number.
func (r ApiAvaConversionConvertToExcelRequest) TryAutoGenerateItemNumbersAndSchema(tryAutoGenerateItemNumbersAndSchema bool) ApiAvaConversionConvertToExcelRequest {
	r.tryAutoGenerateItemNumbersAndSchema = &tryAutoGenerateItemNumbersAndSchema
	return r
}

// Defaults to true
func (r ApiAvaConversionConvertToExcelRequest) WritePrices(writePrices bool) ApiAvaConversionConvertToExcelRequest {
	r.writePrices = &writePrices
	return r
}

// Defaults to true
func (r ApiAvaConversionConvertToExcelRequest) WriteLongTexts(writeLongTexts bool) ApiAvaConversionConvertToExcelRequest {
	r.writeLongTexts = &writeLongTexts
	return r
}

// The culture that should be used for the conversion process, to have localized Excel files
func (r ApiAvaConversionConvertToExcelRequest) ConversionCulture(conversionCulture string) ApiAvaConversionConvertToExcelRequest {
	r.conversionCulture = &conversionCulture
	return r
}

// If this is enabled, then a new column will be created in the overview worksheet that contains the article numbers for positions. Article numbers will be read from &#39;position.commerceProperties.articleNumber&#39;
func (r ApiAvaConversionConvertToExcelRequest) IncludeArticleNumbers(includeArticleNumbers bool) ApiAvaConversionConvertToExcelRequest {
	r.includeArticleNumbers = &includeArticleNumbers
	return r
}

func (r ApiAvaConversionConvertToExcelRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.AvaConversionConvertToExcelExecute(r)
}

/*
AvaConversionConvertToExcel Converts Dangl.AVA projects to Excel

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAvaConversionConvertToExcelRequest
*/
func (a *AvaConversionApiService) AvaConversionConvertToExcel(ctx context.Context) ApiAvaConversionConvertToExcelRequest {
	return ApiAvaConversionConvertToExcelRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return *os.File
func (a *AvaConversionApiService) AvaConversionConvertToExcelExecute(r ApiAvaConversionConvertToExcelRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AvaConversionApiService.AvaConversionConvertToExcel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/conversion/ava/excel"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.avaProject == nil {
		return localVarReturnValue, nil, reportError("avaProject is required and must be specified")
	}

	if r.tryAutoGenerateItemNumbersAndSchema != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "TryAutoGenerateItemNumbersAndSchema", r.tryAutoGenerateItemNumbersAndSchema, "")
	}
	if r.writePrices != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "WritePrices", r.writePrices, "")
	}
	if r.writeLongTexts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "WriteLongTexts", r.writeLongTexts, "")
	}
	if r.conversionCulture != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ConversionCulture", r.conversionCulture, "")
	}
	if r.includeArticleNumbers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IncludeArticleNumbers", r.includeArticleNumbers, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.avaProject
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAvaConversionConvertToFlatAvaRequest struct {
	ctx                                 context.Context
	ApiService                          *AvaConversionApiService
	avaProject                          *ProjectDto
	tryAutoGenerateItemNumbersAndSchema *bool
}

// The Dangl.AVA project
func (r ApiAvaConversionConvertToFlatAvaRequest) AvaProject(avaProject ProjectDto) ApiAvaConversionConvertToFlatAvaRequest {
	r.avaProject = &avaProject
	return r
}

// If this is set to true, AVACloud will try to generate item numbers and an item number schema automatically for the input project. The operation will not have any effect if either an item number schema is already present, or if any of the elements already has an item number.
func (r ApiAvaConversionConvertToFlatAvaRequest) TryAutoGenerateItemNumbersAndSchema(tryAutoGenerateItemNumbersAndSchema bool) ApiAvaConversionConvertToFlatAvaRequest {
	r.tryAutoGenerateItemNumbersAndSchema = &tryAutoGenerateItemNumbersAndSchema
	return r
}

func (r ApiAvaConversionConvertToFlatAvaRequest) Execute() (*FlatAvaProject, *http.Response, error) {
	return r.ApiService.AvaConversionConvertToFlatAvaExecute(r)
}

/*
AvaConversionConvertToFlatAva Converts Dangl.AVA projects to Dangl.AVA. This is useful when you want to generate the calculated properties.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAvaConversionConvertToFlatAvaRequest
*/
func (a *AvaConversionApiService) AvaConversionConvertToFlatAva(ctx context.Context) ApiAvaConversionConvertToFlatAvaRequest {
	return ApiAvaConversionConvertToFlatAvaRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return FlatAvaProject
func (a *AvaConversionApiService) AvaConversionConvertToFlatAvaExecute(r ApiAvaConversionConvertToFlatAvaRequest) (*FlatAvaProject, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FlatAvaProject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AvaConversionApiService.AvaConversionConvertToFlatAva")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/conversion/ava/flat-ava"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.avaProject == nil {
		return localVarReturnValue, nil, reportError("avaProject is required and must be specified")
	}

	if r.tryAutoGenerateItemNumbersAndSchema != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "TryAutoGenerateItemNumbersAndSchema", r.tryAutoGenerateItemNumbersAndSchema, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.avaProject
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAvaConversionConvertToGaebRequest struct {
	ctx                                   context.Context
	ApiService                            *AvaConversionApiService
	avaProject                            *ProjectDto
	tryAutoGenerateItemNumbersAndSchema   *bool
	destinationGaebType                   *string
	targetExchangePhaseTransform          *string
	enforceStrictOfferPhaseLongTextOutput *bool
	exportQuantityDetermination           *bool
	removeUnprintableCharactersFromTexts  *bool
	forceIncludeDescriptions              *bool
	treatNullItemNumberSchemaAsInvalid    *bool
}

// The Dangl.AVA project
func (r ApiAvaConversionConvertToGaebRequest) AvaProject(avaProject ProjectDto) ApiAvaConversionConvertToGaebRequest {
	r.avaProject = &avaProject
	return r
}

// If this is set to true, AVACloud will try to generate item numbers and an item number schema automatically for the input project. The operation will not have any effect if either an item number schema is already present, or if any of the elements already has an item number.
func (r ApiAvaConversionConvertToGaebRequest) TryAutoGenerateItemNumbersAndSchema(tryAutoGenerateItemNumbersAndSchema bool) ApiAvaConversionConvertToGaebRequest {
	r.tryAutoGenerateItemNumbersAndSchema = &tryAutoGenerateItemNumbersAndSchema
	return r
}

// Defaults to GAEB XML V3.2
func (r ApiAvaConversionConvertToGaebRequest) DestinationGaebType(destinationGaebType string) ApiAvaConversionConvertToGaebRequest {
	r.destinationGaebType = &destinationGaebType
	return r
}

// Defaults to none, meaning no transformation will be done. The phases are: Base &#x3D; 81 CostEstimate &#x3D; 82 OfferRequest &#x3D; 83 Offer &#x3D; 84 SideOffer &#x3D; 85 Grant &#x3D; 86
func (r ApiAvaConversionConvertToGaebRequest) TargetExchangePhaseTransform(targetExchangePhaseTransform string) ApiAvaConversionConvertToGaebRequest {
	r.targetExchangePhaseTransform = &targetExchangePhaseTransform
	return r
}

// Defaults to false. If this is enabled, exported long texts to GAEB XML that use text additions will be strictly schema compliant. If this is not enabled, any text that is marked to contain a text addition is exported in full to ensure that incorrectly used text additions are still preserved in the export.
func (r ApiAvaConversionConvertToGaebRequest) EnforceStrictOfferPhaseLongTextOutput(enforceStrictOfferPhaseLongTextOutput bool) ApiAvaConversionConvertToGaebRequest {
	r.enforceStrictOfferPhaseLongTextOutput = &enforceStrictOfferPhaseLongTextOutput
	return r
}

// Defaults to false. If this is enabled, quantities are exported in detail in GAEB XML targets via the &#39;QtyDeterm&#39; (Quantity Determination, or Quantity Take Off) fields. To control this, you can set custom quantity calculations in the &#39;QuantityComponents&#39; property of positions. Please see the entry for &#39;Quantity Determination&#39; in the Dangl.AVA HowTo documentation section. Please be advised that enabling this might export data that was not intended to be exported, like internal quantity calculation details, depending on what data you put in the &#39;QuantityComponents&#39; property.
func (r ApiAvaConversionConvertToGaebRequest) ExportQuantityDetermination(exportQuantityDetermination bool) ApiAvaConversionConvertToGaebRequest {
	r.exportQuantityDetermination = &exportQuantityDetermination
	return r
}

// If this is enabled, unprintable characters are removed from text elements. Otherwise, the conversion might fail in case some text content contains characters that are not allowed in XML output formats. Defaults to true.
func (r ApiAvaConversionConvertToGaebRequest) RemoveUnprintableCharactersFromTexts(removeUnprintableCharactersFromTexts bool) ApiAvaConversionConvertToGaebRequest {
	r.removeUnprintableCharactersFromTexts = &removeUnprintableCharactersFromTexts
	return r
}

// If this is enabled, all description elements like texts and execution descriptions will be output to the result. This is mostly only applicable to GAEB exports to phase 84 - Offer, which does typically not include descriptions.
func (r ApiAvaConversionConvertToGaebRequest) ForceIncludeDescriptions(forceIncludeDescriptions bool) ApiAvaConversionConvertToGaebRequest {
	r.forceIncludeDescriptions = &forceIncludeDescriptions
	return r
}

// When exporting to GAEB, an item number schema is usually required. AVACloud will try to fix invalid item number schemas. With this setting, you can also tell AVACloud to treat a null value as invalid. Otherwise, null schemas will simply be ignored and not lead to any schema being generated. It is recommended to enable this option, but it is disabled by default for compatibility reasons.
func (r ApiAvaConversionConvertToGaebRequest) TreatNullItemNumberSchemaAsInvalid(treatNullItemNumberSchemaAsInvalid bool) ApiAvaConversionConvertToGaebRequest {
	r.treatNullItemNumberSchemaAsInvalid = &treatNullItemNumberSchemaAsInvalid
	return r
}

func (r ApiAvaConversionConvertToGaebRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.AvaConversionConvertToGaebExecute(r)
}

/*
AvaConversionConvertToGaeb Converts Dangl.AVA projects to GAEB

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAvaConversionConvertToGaebRequest
*/
func (a *AvaConversionApiService) AvaConversionConvertToGaeb(ctx context.Context) ApiAvaConversionConvertToGaebRequest {
	return ApiAvaConversionConvertToGaebRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return *os.File
func (a *AvaConversionApiService) AvaConversionConvertToGaebExecute(r ApiAvaConversionConvertToGaebRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AvaConversionApiService.AvaConversionConvertToGaeb")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/conversion/ava/gaeb"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.avaProject == nil {
		return localVarReturnValue, nil, reportError("avaProject is required and must be specified")
	}

	if r.tryAutoGenerateItemNumbersAndSchema != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "TryAutoGenerateItemNumbersAndSchema", r.tryAutoGenerateItemNumbersAndSchema, "")
	}
	if r.destinationGaebType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "DestinationGaebType", r.destinationGaebType, "")
	}
	if r.targetExchangePhaseTransform != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "TargetExchangePhaseTransform", r.targetExchangePhaseTransform, "")
	}
	if r.enforceStrictOfferPhaseLongTextOutput != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "EnforceStrictOfferPhaseLongTextOutput", r.enforceStrictOfferPhaseLongTextOutput, "")
	}
	if r.exportQuantityDetermination != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ExportQuantityDetermination", r.exportQuantityDetermination, "")
	}
	if r.removeUnprintableCharactersFromTexts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "RemoveUnprintableCharactersFromTexts", r.removeUnprintableCharactersFromTexts, "")
	}
	if r.forceIncludeDescriptions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ForceIncludeDescriptions", r.forceIncludeDescriptions, "")
	}
	if r.treatNullItemNumberSchemaAsInvalid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "TreatNullItemNumberSchemaAsInvalid", r.treatNullItemNumberSchemaAsInvalid, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.avaProject
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAvaConversionConvertToIdsConnectRequest struct {
	ctx                                 context.Context
	ApiService                          *AvaConversionApiService
	avaProject                          *ProjectDto
	tryAutoGenerateItemNumbersAndSchema *bool
	version                             *string
}

// The Dangl.AVA project
func (r ApiAvaConversionConvertToIdsConnectRequest) AvaProject(avaProject ProjectDto) ApiAvaConversionConvertToIdsConnectRequest {
	r.avaProject = &avaProject
	return r
}

// If this is set to true, AVACloud will try to generate item numbers and an item number schema automatically for the input project. The operation will not have any effect if either an item number schema is already present, or if any of the elements already has an item number.
func (r ApiAvaConversionConvertToIdsConnectRequest) TryAutoGenerateItemNumbersAndSchema(tryAutoGenerateItemNumbersAndSchema bool) ApiAvaConversionConvertToIdsConnectRequest {
	r.tryAutoGenerateItemNumbersAndSchema = &tryAutoGenerateItemNumbersAndSchema
	return r
}

// The IDS Connect version to convert to. Defaults to V2_5.
func (r ApiAvaConversionConvertToIdsConnectRequest) Version(version string) ApiAvaConversionConvertToIdsConnectRequest {
	r.version = &version
	return r
}

func (r ApiAvaConversionConvertToIdsConnectRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.AvaConversionConvertToIdsConnectExecute(r)
}

/*
AvaConversionConvertToIdsConnect Converts Dangl.AVA projects to IDS Connect files

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAvaConversionConvertToIdsConnectRequest
*/
func (a *AvaConversionApiService) AvaConversionConvertToIdsConnect(ctx context.Context) ApiAvaConversionConvertToIdsConnectRequest {
	return ApiAvaConversionConvertToIdsConnectRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return *os.File
func (a *AvaConversionApiService) AvaConversionConvertToIdsConnectExecute(r ApiAvaConversionConvertToIdsConnectRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AvaConversionApiService.AvaConversionConvertToIdsConnect")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/conversion/ava/ids-connect"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.avaProject == nil {
		return localVarReturnValue, nil, reportError("avaProject is required and must be specified")
	}

	if r.tryAutoGenerateItemNumbersAndSchema != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "TryAutoGenerateItemNumbersAndSchema", r.tryAutoGenerateItemNumbersAndSchema, "")
	}
	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Version", r.version, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.avaProject
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAvaConversionConvertToOenormRequest struct {
	ctx                                    context.Context
	ApiService                             *AvaConversionApiService
	avaProject                             *ProjectDto
	tryAutoGenerateItemNumbersAndSchema    *bool
	destinationOenormType                  *string
	tryRepairProjectStructure              *bool
	skipTryEnforceSchemaCompliantXmlOutput *bool
	removeUnprintableCharactersFromTexts   *bool
}

// The Dangl.AVA project
func (r ApiAvaConversionConvertToOenormRequest) AvaProject(avaProject ProjectDto) ApiAvaConversionConvertToOenormRequest {
	r.avaProject = &avaProject
	return r
}

// If this is set to true, AVACloud will try to generate item numbers and an item number schema automatically for the input project. The operation will not have any effect if either an item number schema is already present, or if any of the elements already has an item number.
func (r ApiAvaConversionConvertToOenormRequest) TryAutoGenerateItemNumbersAndSchema(tryAutoGenerateItemNumbersAndSchema bool) ApiAvaConversionConvertToOenormRequest {
	r.tryAutoGenerateItemNumbersAndSchema = &tryAutoGenerateItemNumbersAndSchema
	return r
}

// Defaults to Lv2015
func (r ApiAvaConversionConvertToOenormRequest) DestinationOenormType(destinationOenormType string) ApiAvaConversionConvertToOenormRequest {
	r.destinationOenormType = &destinationOenormType
	return r
}

// Defaults to false. If this is enabled, the converter will try to ensure that the project structure can be mapped to Oenorm. It might introduce additional group levels to ensure a compatible target
func (r ApiAvaConversionConvertToOenormRequest) TryRepairProjectStructure(tryRepairProjectStructure bool) ApiAvaConversionConvertToOenormRequest {
	r.tryRepairProjectStructure = &tryRepairProjectStructure
	return r
}

// If this option is enabled, AVACloud will not attempt to force a schema-compliant Xml output for ÖNorm targets that are Xml based. By default, AVACloud will try to add required fields, even if no data is present, with sensible defaults. This behavior can be disabled with this option.
func (r ApiAvaConversionConvertToOenormRequest) SkipTryEnforceSchemaCompliantXmlOutput(skipTryEnforceSchemaCompliantXmlOutput bool) ApiAvaConversionConvertToOenormRequest {
	r.skipTryEnforceSchemaCompliantXmlOutput = &skipTryEnforceSchemaCompliantXmlOutput
	return r
}

// If this is enabled, unprintable characters are removed from text elements. Otherwise, the conversion might fail in case some text content contains characters that are not allowed in XML output formats. Defaults to true.
func (r ApiAvaConversionConvertToOenormRequest) RemoveUnprintableCharactersFromTexts(removeUnprintableCharactersFromTexts bool) ApiAvaConversionConvertToOenormRequest {
	r.removeUnprintableCharactersFromTexts = &removeUnprintableCharactersFromTexts
	return r
}

func (r ApiAvaConversionConvertToOenormRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.AvaConversionConvertToOenormExecute(r)
}

/*
AvaConversionConvertToOenorm Converts Dangl.AVA projects to Oenorm

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAvaConversionConvertToOenormRequest
*/
func (a *AvaConversionApiService) AvaConversionConvertToOenorm(ctx context.Context) ApiAvaConversionConvertToOenormRequest {
	return ApiAvaConversionConvertToOenormRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return *os.File
func (a *AvaConversionApiService) AvaConversionConvertToOenormExecute(r ApiAvaConversionConvertToOenormRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AvaConversionApiService.AvaConversionConvertToOenorm")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/conversion/ava/oenorm"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.avaProject == nil {
		return localVarReturnValue, nil, reportError("avaProject is required and must be specified")
	}

	if r.tryAutoGenerateItemNumbersAndSchema != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "TryAutoGenerateItemNumbersAndSchema", r.tryAutoGenerateItemNumbersAndSchema, "")
	}
	if r.destinationOenormType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "DestinationOenormType", r.destinationOenormType, "")
	}
	if r.tryRepairProjectStructure != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "TryRepairProjectStructure", r.tryRepairProjectStructure, "")
	}
	if r.skipTryEnforceSchemaCompliantXmlOutput != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "SkipTryEnforceSchemaCompliantXmlOutput", r.skipTryEnforceSchemaCompliantXmlOutput, "")
	}
	if r.removeUnprintableCharactersFromTexts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "RemoveUnprintableCharactersFromTexts", r.removeUnprintableCharactersFromTexts, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.avaProject
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAvaConversionConvertToRebRequest struct {
	ctx                                 context.Context
	ApiService                          *AvaConversionApiService
	avaProject                          *ProjectDto
	tryAutoGenerateItemNumbersAndSchema *bool
	destinationRebType                  *string
}

// The Dangl.AVA project
func (r ApiAvaConversionConvertToRebRequest) AvaProject(avaProject ProjectDto) ApiAvaConversionConvertToRebRequest {
	r.avaProject = &avaProject
	return r
}

// If this is set to true, AVACloud will try to generate item numbers and an item number schema automatically for the input project. The operation will not have any effect if either an item number schema is already present, or if any of the elements already has an item number.
func (r ApiAvaConversionConvertToRebRequest) TryAutoGenerateItemNumbersAndSchema(tryAutoGenerateItemNumbersAndSchema bool) ApiAvaConversionConvertToRebRequest {
	r.tryAutoGenerateItemNumbersAndSchema = &tryAutoGenerateItemNumbersAndSchema
	return r
}

// Defaults to D11
func (r ApiAvaConversionConvertToRebRequest) DestinationRebType(destinationRebType string) ApiAvaConversionConvertToRebRequest {
	r.destinationRebType = &destinationRebType
	return r
}

func (r ApiAvaConversionConvertToRebRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.AvaConversionConvertToRebExecute(r)
}

/*
AvaConversionConvertToReb Converts Dangl.AVA projects to REB

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAvaConversionConvertToRebRequest
*/
func (a *AvaConversionApiService) AvaConversionConvertToReb(ctx context.Context) ApiAvaConversionConvertToRebRequest {
	return ApiAvaConversionConvertToRebRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return *os.File
func (a *AvaConversionApiService) AvaConversionConvertToRebExecute(r ApiAvaConversionConvertToRebRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AvaConversionApiService.AvaConversionConvertToReb")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/conversion/ava/reb"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.avaProject == nil {
		return localVarReturnValue, nil, reportError("avaProject is required and must be specified")
	}

	if r.tryAutoGenerateItemNumbersAndSchema != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "TryAutoGenerateItemNumbersAndSchema", r.tryAutoGenerateItemNumbersAndSchema, "")
	}
	if r.destinationRebType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "DestinationRebType", r.destinationRebType, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.avaProject
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAvaConversionConvertToSiaRequest struct {
	ctx                                 context.Context
	ApiService                          *AvaConversionApiService
	avaProject                          *ProjectDto
	tryAutoGenerateItemNumbersAndSchema *bool
	siaDestinationType                  *string
}

// The Dangl.AVA project
func (r ApiAvaConversionConvertToSiaRequest) AvaProject(avaProject ProjectDto) ApiAvaConversionConvertToSiaRequest {
	r.avaProject = &avaProject
	return r
}

// If this is set to true, AVACloud will try to generate item numbers and an item number schema automatically for the input project. The operation will not have any effect if either an item number schema is already present, or if any of the elements already has an item number.
func (r ApiAvaConversionConvertToSiaRequest) TryAutoGenerateItemNumbersAndSchema(tryAutoGenerateItemNumbersAndSchema bool) ApiAvaConversionConvertToSiaRequest {
	r.tryAutoGenerateItemNumbersAndSchema = &tryAutoGenerateItemNumbersAndSchema
	return r
}

// Defaults to Sia451
func (r ApiAvaConversionConvertToSiaRequest) SiaDestinationType(siaDestinationType string) ApiAvaConversionConvertToSiaRequest {
	r.siaDestinationType = &siaDestinationType
	return r
}

func (r ApiAvaConversionConvertToSiaRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.AvaConversionConvertToSiaExecute(r)
}

/*
AvaConversionConvertToSia Converts Dangl.AVA projects to SIA 451

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAvaConversionConvertToSiaRequest
*/
func (a *AvaConversionApiService) AvaConversionConvertToSia(ctx context.Context) ApiAvaConversionConvertToSiaRequest {
	return ApiAvaConversionConvertToSiaRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return *os.File
func (a *AvaConversionApiService) AvaConversionConvertToSiaExecute(r ApiAvaConversionConvertToSiaRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AvaConversionApiService.AvaConversionConvertToSia")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/conversion/ava/sia"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.avaProject == nil {
		return localVarReturnValue, nil, reportError("avaProject is required and must be specified")
	}

	if r.tryAutoGenerateItemNumbersAndSchema != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "TryAutoGenerateItemNumbersAndSchema", r.tryAutoGenerateItemNumbersAndSchema, "")
	}
	if r.siaDestinationType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "SiaDestinationType", r.siaDestinationType, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.avaProject
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAvaConversionConvertToUglRequest struct {
	ctx                                 context.Context
	ApiService                          *AvaConversionApiService
	avaProject                          *ProjectDto
	tryAutoGenerateItemNumbersAndSchema *bool
	uglDestinationVersion               *string
}

// The Dangl.AVA project
func (r ApiAvaConversionConvertToUglRequest) AvaProject(avaProject ProjectDto) ApiAvaConversionConvertToUglRequest {
	r.avaProject = &avaProject
	return r
}

// If this is set to true, AVACloud will try to generate item numbers and an item number schema automatically for the input project. The operation will not have any effect if either an item number schema is already present, or if any of the elements already has an item number.
func (r ApiAvaConversionConvertToUglRequest) TryAutoGenerateItemNumbersAndSchema(tryAutoGenerateItemNumbersAndSchema bool) ApiAvaConversionConvertToUglRequest {
	r.tryAutoGenerateItemNumbersAndSchema = &tryAutoGenerateItemNumbersAndSchema
	return r
}

// The UGL version to convert to. Defaults to V1.
func (r ApiAvaConversionConvertToUglRequest) UglDestinationVersion(uglDestinationVersion string) ApiAvaConversionConvertToUglRequest {
	r.uglDestinationVersion = &uglDestinationVersion
	return r
}

func (r ApiAvaConversionConvertToUglRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.AvaConversionConvertToUglExecute(r)
}

/*
AvaConversionConvertToUgl Converts Dangl.AVA projects to UGL

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAvaConversionConvertToUglRequest
*/
func (a *AvaConversionApiService) AvaConversionConvertToUgl(ctx context.Context) ApiAvaConversionConvertToUglRequest {
	return ApiAvaConversionConvertToUglRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return *os.File
func (a *AvaConversionApiService) AvaConversionConvertToUglExecute(r ApiAvaConversionConvertToUglRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AvaConversionApiService.AvaConversionConvertToUgl")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/conversion/ava/ugl"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.avaProject == nil {
		return localVarReturnValue, nil, reportError("avaProject is required and must be specified")
	}

	if r.tryAutoGenerateItemNumbersAndSchema != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "TryAutoGenerateItemNumbersAndSchema", r.tryAutoGenerateItemNumbersAndSchema, "")
	}
	if r.uglDestinationVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "UglDestinationVersion", r.uglDestinationVersion, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json", "text/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.avaProject
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
